

# Pandas Series exercises

In [2]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.5.3



## Series creation

### Create an empty pandas Series

In [3]:
a=pd.Series([])
a

C:\Users\user\AppData\Local\Temp\ipykernel_6396\2338549318.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series([])

Series([], dtype: float64)



### Given the X python list convert it to an Y pandas Series, check its type

In [4]:
x=[1,2,3,4,5]
y=pd.Series([x])
y

0    [1, 2, 3, 4, 5]
dtype: object

### Given the X numpy array convert it to an Y pandas Series, check its type

In [5]:
x=np.array([1,2,3,4,5])
y=pd.Series(x)
y

0    1
1    2
2    3
3    4
4    5
dtype: int32

### Given the X Dictionary convert it to an Y pandas Series, check its type

In [6]:
x={'a':1,'b':2,'c':3,'d':4}
X=pd.Series(x)
X

a    1
b    2
c    3
d    4
dtype: int64



### Given the X pandas Series, name it 'My letters'

In [7]:
X.name='My letters'
X

a    1
b    2
c    3
d    4
Name: My letters, dtype: int64



### Given the X pandas Series, show its values

In [8]:
X.values

array([1, 2, 3, 4], dtype=int64)

### Given the X pandas Series, show its index

In [9]:
X.index

Index(['a', 'b', 'c', 'd'], dtype='object')



## Series indexation

### Assign index names to the given X pandas Series

In [10]:
X.index=['one','two','three','four']
X

one      1
two      2
three    3
four     4
Name: My letters, dtype: int64



### Given the X pandas Series, show its first element

In [11]:
X[0]

1



### Given the X pandas Series, show its last element

In [12]:
X[-1]

4



### Given the X pandas Series, show all middle elements

In [13]:
X[1:-1]

two      2
three    3
Name: My letters, dtype: int64



### Given the X pandas Series, show the elements in reverse position

In [14]:
X[::-1]

four     4
three    3
two      2
one      1
Name: My letters, dtype: int64



### Given the X pandas Series, show the first and last elements, in one instruction

In [15]:
X[0],X[-1]

(1, 4)



## Series manipulation

### Convert the given integer pandas Series to float

In [16]:
X=X.apply(lambda a:float(a))
X

one      1.0
two      2.0
three    3.0
four     4.0
Name: My letters, dtype: float64



### Reverse the given pandas Series (first element becomes last)

In [17]:
X=X[::-1]
X

four     4.0
three    3.0
two      2.0
one      1.0
Name: My letters, dtype: float64



### Order (sort) the given pandas Series (values)

In [18]:
# your code goes here
X.sort_values()

one      1.0
two      2.0
three    3.0
four     4.0
Name: My letters, dtype: float64

### Order (sort) the given pandas Series (index)

In [19]:
X.sort_index()

four     4.0
one      1.0
three    3.0
two      2.0
Name: My letters, dtype: float64



### Given the X pandas Series, print unique values

In [20]:
X.unique()

array([4., 3., 2., 1.])

### Given the X pandas Series, print the number of unique values

In [21]:
X.nunique()

4

### Given the X pandas Series, print the count of unique values

In [22]:
X.value_counts()

4.0    1
3.0    1
2.0    1
1.0    1
Name: My letters, dtype: int64

### Given the X pandas Series, set the fifth element equal to 10

In [23]:
X[3]=10
X

four      4.0
three     3.0
two       2.0
one      10.0
Name: My letters, dtype: float64



### Given the X pandas Series, change all the middle elements to 0

In [24]:
X[1:-1]=0
X

four      4.0
three     0.0
two       0.0
one      10.0
Name: My letters, dtype: float64



### Given the X pandas Series, add 5 to every element

In [25]:
X=X.apply(lambda a:a+5)
X

four      9.0
three     5.0
two       5.0
one      15.0
Name: My letters, dtype: float64



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [26]:
X>0

four     True
three    True
two      True
one      True
Name: My letters, dtype: bool



### Given the X pandas Series, get the negative elements

In [27]:
X[X>0]

four      9.0
three     5.0
two       5.0
one      15.0
Name: My letters, dtype: float64



### Given the X pandas Series, get numbers higher than 5

In [28]:
X[X>5]

four     9.0
one     15.0
Name: My letters, dtype: float64



### Given the X pandas Series, get numbers higher than the elements mean

In [29]:
X[X>X.mean(axis=0)]

four     9.0
one     15.0
Name: My letters, dtype: float64



### Given the X pandas Series, get numbers equal to 2 or 10

In [30]:
X[X==2]|X[X==10]

Series([], Name: My letters, dtype: bool)



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [31]:
X[X=0].all()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1116536556.py, line 1)



### Given the X pandas Series, return True if any of its elements is zero

In [ ]:
X[X!=0].any()

In [ ]:
0 in X

### Given the X pandas Series, return True if any of its indexes is zero

In [ ]:
X.index[X.index==0].any()

In [ ]:
0 in X.index



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [ ]:
X.sum()



### Given the X pandas Series, show the mean value of its elements

In [ ]:
X.mean()



### Given the X pandas Series, show the max value of its elements

In [ ]:
X.max()

## define a lambda function and then apply it to a pandas serie

In [ ]:
X=X.apply(lambda a:a+5)